
body{
    background-color: rgb(243, 243, 94);
}
#ram{
    color: rgb(139, 83, 10);
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p{
    color: chartreuse;
}